<nav class="navbar navbar-expand-lg navbar-light bg-light px-4">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
       
      </ul>
    </div>
  </nav>


 <div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <form [formGroup]="registerform" (ngSubmit)="onSubmit()">
                <div class="form-group">
                  <label for="exampleInputName">Name</label>
                  <input type="text" class="form-control" id="exampleInputName" formControlName="name">
                  <small id="nameerr" class="form-text text-muted" *ngIf="registerform.get('name').hasError('required')">
                      Oops, please provide a name!
                    </small>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword">Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword" formControlName="password">
                  <small id="passworderr" class="form-text text-muted" *ngIf="registerform.get('password').hasError('required')">
                    Oops, please provide a password!
                  </small>
                </div>
                <div class="form-group">
                  <label for="role">Role</label>
                  <input type="text" class="form-control" id="role" formControlName="role">
                  <small id="roleerr" class="form-text text-muted" *ngIf="registerform.get('role').hasError('required')">
                    Oops, please provide a role!
                  </small>
                </div>
                
                <button class="btn btn-primary mt-2" [disabled]="registerform.invalid" >Submit</button>
    
              </form>
        </div>
    </div>
 </div>